
    <div ng-show="article_message_show" class="alert alert-success" style="text-align: center">
        Article added with success.
    </div>

    <form ng-submit="post()" ng-show="authenticated">
        <h2 style="text-align: center">Article</h2>
        <span class="glyphicon glyphicon-font"></span> <strong>Title</strong>
        <input type="text" ng-model="title" placeholder="Wright a title" class="form-control" required><br>

        <span class="glyphicon glyphicon-font"></span> <strong>Text</strong>
        <textarea type="text" ng-model="text" placeholder="Wright your text" class="form-control" required></textarea><br>

        <div class="col-md-1 col-md-offset-11">
            <input type="submit" value="Send" class="btn btn-primary"/>
        </div>
    </form>



    <div id="post-stream">
        <h2 style="text-align: center">Article list</h2>
        <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="panel-group">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-10">
                                <div>
                                    <h2 style="color: black;">{{post.title}}</h2><br />
                                </div>
                                Posted by <strong>{{post.created_by}}</strong>
                                @ {{post.created_at | date:"h:mma 'on' MMM d, y"}}
                            </div>
                            <div class="col-md-2">
                                <button ng-show="authenticated" type="button" class="btn btn-warning  btn-block">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                                <button ng-show="authenticated" type="button"  ng-click="removePost($index,post)" class="btn btn-danger btn-block">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                            <p>{{post.text}}</p>
                    </div>
                </div><br/>
            </div>
        </div>
    </div>